<a href="https://colab.research.google.com/github/garrett-davidson-16/beginning-bioinformatics/blob/main/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world")

hello world

In [ ]:
a=2
b=3
c = a**2 + b**2
print(c)

13

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Allison
Hello, Allison

In [ ]:
a = int(input("a= "))
b = int(input("b= "))
c = a**2 + b**2
print ("The square of the hypotenuse is",c)

a= 3
b= 4
The square of the hypotenuse is 25

In [ ]:
my_list = ["Hello", "World", "Charles Darwin"]
print(my_list[1])

World

In [ ]:
my_list[2] = "Alfred Wallace"
print(my_list)

['Hello', 'World', 'Alfred Wallace']

In [ ]:
my_list.append("Charles Dawin")
print(my_list)

['Hello', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list[0:1] = "Biology"
print (my_list)

['B', 'i', 'o', 'l', 'o', 'g', 'y', 'i', 'o', 'l', 'o', 'g', 'y', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.remove ("B")
print (my_list)

['i', 'o', 'l', 'o', 'g', 'y', 'i', 'o', 'l', 'o', 'g', 'y', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.remove ("i")
print (my_list)

['o', 'l', 'o', 'g', 'y', 'i', 'o', 'l', 'o', 'g', 'y', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.remove ("o")
print (my_list)

['l', 'o', 'g', 'y', 'i', 'o', 'l', 'o', 'g', 'y', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.remove ("l")
my_list.remove ("o")
my_list.remove ("g")
my_list.remove ("y")
my_list.remove ("i")
my_list.remove ("o")
my_list.remove ("l")
my_list.remove ("o")
my_list.remove ("g")
my_list.remove ("y")
print (my_list)

['World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.insert (0, "Hello")
print (my_list)

['Hello', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.insert (1, "Biology")
print (my_list)

['Hello', 'Biology', 'Hello', 'Hello', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.remove ('Hello')
print (my_list)

['Biology', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.insert (0, "Hello")
print (my_list )

['Hello', 'Biology', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
print (my_list[2:4])

['World', 'Alfred Wallace']

In [ ]:
my_string = "HelloWorldCharlesDarwinAlfred R. Wallace"
print (my_string[0:5],my_string [5:10])

Hello World

In [ ]:
print (my_string [33:], my_string [5:10])

Wallace World

In [ ]:
my_string = "vH3WliMNlGt1ZUlvy70Gallinagoa2cfsKTgL2KhoDcXCpVyqRZhXVQYyOyaQz51s5L0nJBarvensisMIkSiRjGjteOivi7OolSuIvNK8xxq7ZuzhfYkkjIYa4lqIlUsM9VLXdDsqO71LvDE1CZxDcmKOcVyU3NxFQK26BLu4"
print (my_string [19:28],my_string [71:79])

Gallinago arvensis

In [ ]:
a=5
b=5

if a!=b:
    print (a-b)

else:
    print (a+b)

10

In [54]:
#initiate a counter
a = 1

#print "Counting!" while a<=3
while a <= 3:

    print ("Counting!" * a)
    a += 1

Counting!
Counting!Counting!
Counting!Counting!Counting!

In [56]:
names = ["Alice","Bob","Charley"]

for name in names:
  print ("Hello", name)

Hello Alice
Hello Bob
Hello Charley

In [58]:
iterations = 10
for number in range(iterations):
  print (number)

0
1
2
3
4
5
6
7
8
9

In [60]:
for number in range(9,28,3):
  print (number)

9
12
15
18
21
24
27

In [72]:
total= 0
for number in range(101,200,2):
  total += number
print (total)

7500

In [75]:
total= 0
for number in range(4311,8674,2):
  total += number
print (total)

14165544

In [77]:
with open("practice.txt", "r") as data:
  print (data.read())

Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat

In [83]:
with open("practice.txt","r") as data:

    #print(data.read())

    #print(data.readline())

    print(data.readlines())

['Bravely bold Sir Robin rode forth from Camelot\n', 'Yes, brave Sir Robin turned about\n', 'He was not afraid to die, O brave Sir Robin\n', 'And gallantly he chickened out\n', 'He was not at all afraid to be killed in nasty ways\n', 'Bravely talking to his feet\n', 'Brave, brave, brave, brave Sir Robin\n', 'He beat a very brave retreat']

In [109]:
line_number = 1
with open("practice.txt","r") as data:
  for line in data:
    if line_number % 2 == 0:
      print(line.strip())
    line_number += 1

Yes, brave Sir Robin turned about
And gallantly he chickened out
Bravely talking to his feet
He beat a very brave retreat

In [86]:
with open("rosalind_ini5.txt", "r") as data:
  lines = data.readlines()
  print (line)

And always look on the right side of life

In [112]:
line_number = 1
with open("rosalind_ini5.txt","r") as data:
  for line in data:
    if line_number % 2 == 0:
      print(line.strip())
    line_number += 1

Some things in life are bad, they can really make you mad
Other things just make you swear and curse
When you're chewing on life's gristle, don't grumble give a whistle
This will help things turn out for the best
Always look on the bright side of life
Always look on the right side of life
If life seems jolly rotten, there's something you've forgotten
And that's to laugh and smile and dance and sing
When you're feeling in the dumps, don't be silly, chumps
Just purse your lips and whistle, that's the thing
So, always look on the bright side of death
Just before you draw your terminal breath
Life's a counterfeit and when you look at it
Life's a laugh and death's the joke, it's true
You see, it's all a show, keep them laughing as you go
Just remember the last laugh is on you
Always look on the bright side of life
And always look on the right side of life
Always look on the bright side of life
And always look on the right side of life

In [113]:
word= "Hello"
for letter in word:
  print (letter)

H
e
l
l
o

In [116]:
with open("practice_5.txt", "r") as data:
  lines = data.readlines()
  print (lines)

['We \n', 'tried \n', 'list \n', 'and \n', 'we \n', 'tried \n', 'dicts \n', 'also \n', 'we \n', 'tried \n', 'Zen']

In [119]:
with open("practice_5.txt", "r") as data:
  lines = data.read()
for line in line.split():
    print (word)

Hello

In [120]:
with open("practice_5.txt","r") as data:

  line=data.read()

for word in line.split():
    print (word)

We
tried
list
and
we
tried
dicts
also
we
tried
Zen

In [121]:
print (my_list)

['Hello', 'Biology', 'World', 'Alfred Wallace', 'Charles Dawin']

In [122]:
sequences = {
    "H.neandertalensis":"ACGTCGCTCTGCTA",
    "H.sapiens":"ACGTCACTCTGCTA"
    }

print (sequences)

{'H.neandertalensis': 'ACGTCGCTCTGCTA', 'H.sapiens': 'ACGTCACTCTGCTA'}

In [123]:
sequences.update({"G. gorilla":"ACGTCCTCCTA", "H.erectus":"ACGTCACTCTGCTA"})

In [126]:
print (sequences)

{'H.neandertalensis': 'ACGTCGCTCTGCTA', 'H.sapiens': 'ACGTCACTCTGCTA', 'G. gorilla': 'ACGTCCTCCTA', 'H.erectus': 'ACGTCACTCTGCTA', 'P.troglodytes': 'ACGTCACTCTCCTA'}

In [125]:
sequences["P.troglodytes"]="ACGTCACTCTCCTA"

In [129]:
print (sequences["H.sapiens"])

ACGTCACTCTGCTA

In [130]:
for key,value in sequences.items():
  print (key,value)

H.neandertalensis ACGTCGCTCTGCTA
H.sapiens ACGTCACTCTGCTA
G. gorilla ACGTCCTCCTA
H.erectus ACGTCACTCTGCTA
P.troglodytes ACGTCACTCTCCTA

In [138]:
with open("rosalind_ini6.txt", "r") as data:
  line = data.readline()
  word_counts = {}
  for word in line.strip().split():
    if word in word_counts:
      word_counts[word] += 1
    else:
      word_counts[word] = 1
for word, count in word_counts.items():
  print (f"{word} {count}")

When 1
I 2
find 1
myself 1
in 4
times 1
of 11
trouble 1
Mother 2
Mary 2
comes 2
to 3
me 4
Speaking 3
words 7
wisdom 7
let 30
it 36
be 41
And 3
my 1
hour 1
darkness 1
she 1
is 4
standing 1
right 1
front 1
Let 6
Whisper 4
when 2
the 4
broken 1
hearted 1
people 1
living 1
world 1
agree 1
There 4
will 5
an 4
answer 4
For 1
though 1
they 2
may 1
parted 1
there 2
still 2
a 2
chance 1
that 2
see 1
night 1
cloudy 1
light 1
shines 1
on 1
Shine 1
until 1
tomorrow 1
wake 1
up 1
sound 1
music 1
yeah 2