<a href="https://colab.research.google.com/github/garrett-davidson-16/beginning-bioinformatics/blob/main/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world")

hello world

In [ ]:
a=2
b=3
c = a**2 + b**2
print(c)

13

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name)

Enter your name: Allison
Hello, Allison

In [ ]:
a = int(input("a= "))
b = int(input("b= "))
c = a**2 + b**2
print ("The square of the hypotenuse is",c)

a= 3
b= 4
The square of the hypotenuse is 25

In [ ]:
my_list = ["Hello", "World", "Charles Darwin"]
print(my_list[1])

World

In [ ]:
my_list[2] = "Alfred Wallace"
print(my_list)

['Hello', 'World', 'Alfred Wallace']

In [ ]:
my_list.append("Charles Dawin")
print(my_list)

['Hello', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list[0:1] = "Biology"
print (my_list)

['B', 'i', 'o', 'l', 'o', 'g', 'y', 'i', 'o', 'l', 'o', 'g', 'y', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.remove ("B")
print (my_list)

['i', 'o', 'l', 'o', 'g', 'y', 'i', 'o', 'l', 'o', 'g', 'y', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.remove ("i")
print (my_list)

['o', 'l', 'o', 'g', 'y', 'i', 'o', 'l', 'o', 'g', 'y', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.remove ("o")
print (my_list)

['l', 'o', 'g', 'y', 'i', 'o', 'l', 'o', 'g', 'y', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.remove ("l")
my_list.remove ("o")
my_list.remove ("g")
my_list.remove ("y")
my_list.remove ("i")
my_list.remove ("o")
my_list.remove ("l")
my_list.remove ("o")
my_list.remove ("g")
my_list.remove ("y")
print (my_list)

['World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.insert (0, "Hello")
print (my_list)

['Hello', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.insert (1, "Biology")
print (my_list)

['Hello', 'Biology', 'Hello', 'Hello', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.remove ('Hello')
print (my_list)

['Biology', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
my_list.insert (0, "Hello")
print (my_list )

['Hello', 'Biology', 'World', 'Alfred Wallace', 'Charles Dawin']

In [ ]:
print (my_list[2:4])

['World', 'Alfred Wallace']

In [ ]:
my_string = "HelloWorldCharlesDarwinAlfred R. Wallace"
print (my_string[0:5],my_string [5:10])

Hello World

In [ ]:
print (my_string [33:], my_string [5:10])

Wallace World

In [ ]:
my_string = "vH3WliMNlGt1ZUlvy70Gallinagoa2cfsKTgL2KhoDcXCpVyqRZhXVQYyOyaQz51s5L0nJBarvensisMIkSiRjGjteOivi7OolSuIvNK8xxq7ZuzhfYkkjIYa4lqIlUsM9VLXdDsqO71LvDE1CZxDcmKOcVyU3NxFQK26BLu4"
print (my_string [19:28],my_string [71:79])

Gallinago arvensis

In [ ]:
a=5
b=5

if a!=b:
    print (a-b)

else:
    print (a+b)

10

In [54]:
#initiate a counter
a = 1

#print "Counting!" while a<=3
while a <= 3:

    print ("Counting!" * a)
    a += 1

Counting!
Counting!Counting!
Counting!Counting!Counting!

In [56]:
names = ["Alice","Bob","Charley"]

for name in names:
  print ("Hello", name)

Hello Alice
Hello Bob
Hello Charley

In [58]:
iterations = 10
for number in range(iterations):
  print (number)

0
1
2
3
4
5
6
7
8
9

In [60]:
for number in range(9,28,3):
  print (number)

9
12
15
18
21
24
27

In [72]:
total= 0
for number in range(101,200,2):
  total += number
print (total)

7500

In [75]:
total= 0
for number in range(4311,8674,2):
  total += number
print (total)

14165544